@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components {
    .menu {
        @apply absolute w-[340px] h-[250px] left-[-200px] top-[60px] bg-white bg-opacity-90 shadow duration-300 origin-top rounded
    }

    .custom-shadow{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .swiper:hover .swiper-button-prev{
        transform: translateX(0px);
    }

    .swiper .swiper-button-prev{
        padding: 10px;
        transform: scale(.9);
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;       
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(1px);
        background: rgba(0, 0, 0, 0.4) !important;
        transform: translateX(-70px);
        transition: 250ms ease;
    }

    .swiper .swiper-button-prev:after{
        transform: scale(.4);        
    }

    .swiper:hover .swiper-button-next{
        transform: translateX(0px);
    }

    .swiper .swiper-button-next{
        padding: 10px;
        transform: scale(.9);
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;       
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(1px);
        background: rgba(0, 0, 0, 0.4) !important;
        transform: translateX(70px);
        transition: 250ms ease;
    }

    .swiper .swiper-button-next:after{
        transform: scale(.4);        
    }

    .featuredCard:hover img{
        transform: scale(1.1);
    }

    .featuredCard:hover .featuredCardTitle{
        color: #5143d9;
    }
    
    .exploreCard:hover .exploreCardTitle{
        color: #5143d9;
    }

    .swiper{
        padding: 60px atuo!important;
    }
    
    .activeLink{
        transition: 250ms ease;
    }

    .activeLink:hover{
        color: #5143d9;
        cursor: pointer;
    }

   
}